// Font Family 
$fontFamily : 'Poppins', sans-serif;
// Colors
$blue : #22cbdc;
$colorWhite : #FFF;
$colorOrange :#f7941e;
$colorDefault : #23343A;
$colorDefaultLight : #49575d;
$defaultDark : #141414;
$colorGray : #F8F8F8;
$colorRed : rgb(228, 23, 23);
// Font Size
$xsFontSize : 10px;
$sFontSize : 12px;
$fontSize : 14px;
$mdFontSize : 16px;
$lgFontSize : 18px;
$xlFontSize : 20px;
$xxlFontSize : 24px;
$xxxlFontSize : 30px;
// Width Size
$fullSize : 100%;
$halfSize : 50%;
// Float
$floatLeft : left;
$floatRight : right;
// Media Size
$mediaXs : 576px; // Phone
$mediaSm : 768px; // Tablets landscape
$mediaTablets : 992px; // Tablets portrait
$mediaDesktops : 1200px; // Desktops
$mediaLaptops : 1349px; // Laptops
$mediaMd : 1440px; // Medium Desktops
$mediaLg : 1600px; // Large Desktops
$mediaXl : 1920px; // Extra Large Desktops